*{
    margin:0;
    padding:0;
    box-sizing: inherit;

    &::after, &::before{
        box-sizing: border-box;
    }
}

html, body{
    box-sizing: border-box;
}

header, footer{
    & ul, & ol{
        list-style: none;
    }
}

ul, ol{
    list-style-position: inside;
    margin: 0; padding: 0;
}